<ion-header>
    <ion-toolbar>
        <ion-title>Añadir moto</ion-title>
        <ion-buttons slot="start">
            <ion-back-button>
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <form [formGroup]="myForm" (ngSubmit)="saveData()">
            <ion-list>
                <ion-item>
                    <ion-label stacked>Marca:</ion-label>
                    <ion-input formControlName="marca" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Modelo:</ion-label>
                    <ion-input formControlName="modelo" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Año:</ion-label>
                    <ion-input formControlName="any" type="number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Foto:</ion-label>
                    <ion-input formControlName="foto" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Precio:</ion-label>
                    <ion-input formControlName="precio" type="number"></ion-input>
                </ion-item>
            </ion-list>
        </form>


    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="save" ></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
