<ion-header>
    <ion-toolbar>
        <ion-title>Añadir moto</ion-title>
        <ion-buttons slot="start">
            <ion-back-button>
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Brand</ion-label>
                <ion-input type="string" [(ngModel)]="marca"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Model</ion-label>
                <ion-input type="string" [(ngModel)]="modelo"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Year</ion-label>
                <ion-input type="number" [(ngModel)]="any"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Photo</ion-label>
                <ion-input type="string" [(ngModel)]="foto"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Price</ion-label>
                <ion-input type="number" [(ngModel)]="precio"></ion-input>

            </ion-item>
        </ion-card-content>

    </ion-card>
    <ion-fab horizontal="end" slot="fixed" vertical="bottom" class="ion-padding">
        <ion-fab-button>
            <ion-icon name="save" (click)="addBike()"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
