<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Escoje tu moto
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <!-- Aqui hacemos el bucle -->
        <ion-list>
            <!-- En la lista pasamos por a la otra pagina el objeto c, así se mostrará el detalle -->
            <ion-item *ngFor="let c of componentes" [routerLink]="['/detalle',c]" detail>
                <!-- Muestra la imagen -->
                <ion-img [src]="c.foto" style="width: 80px; height: 80px; padding-right: 1em"></ion-img>
                <!-- Muestra el modelo -->
                <ion-label>{{c.modelo}}</ion-label>
            </ion-item>
        </ion-list>


    </ion-card>
    <!-- fab -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add" routerLink="/add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
